<div class="grid grid-cols-4 mt-10 border border-black">
  <span class="grid-cell">Token</span>
  <span class="grid-cell">Amount</span>
  <span class="grid-cell">Total</span>
  <span class="grid-cell">Price</span>
  <% assets.each do |token_id, data| %>
    <% token = Token.find(token_id) %>
    <div class="grid-cell p-4">
      <div class="flex justify-between">
        <div></div>
        <div class="flex">
          <%= image_tag(token.logo, width: 24, height: 24, class: "rounded mr-3 object-contain") if token.logo.attached? %>
          <%= token.abbr %>
        </div>
        <div></div>
      </div>
    </div>
    <div class="grid-cell p-4">
      <%= format_amount(data.amount) %>
    </div>
    <div class="grid-cell p-4">
      <%= "#{format_amount(data.total)}$" %>
    </div>
    <div class="grid-cell p-4">
      <%= "#{format_rate(data.rate)}$" %>
    </div>
  <% end %>
</div>
