<%= form_with(model: token) do |form| %>
  <% if token.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(token.errors.count, "error") %> prohibited this token from being saved:</h2>

      <ul>
        <% token.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "block font-medium mb-1" %>
    <%= form.text_field :name %>
  </div>

  <div class="my-5">
    <%= form.label :logo, class: "block font-medium mb-1" %>
    <%= form.file_field :logo %>
  </div>

  <div class="inline">
    <%= form.submit "Save", class: "btn-primary" %>
    <%= link_to "Cancel", transactions_path, class: "btn-primary" %>
  </div>
<% end %>
