<%= turbo_frame_tag token do %>
  <div class="card-dark">
    <div class="ml-4">
      <%= image_tag(token.logo, width: 24, height: 24, class: "rounded object-contain") if token.logo.attached? %>
    </div>

    <div>
      <%= token.abbr %>
    </div>

    <div data-controller="action-confirmation" class="flex justify-between">
      <%= link_to edit_token_path(token), data: { turbo_frame: "modal" }, class: "pr-2 mr-2" do %>
        <%= fa_icon 'pencil' %>
      <% end %>

      <%= button_to token_path(token), method: :delete, data: { action: "click->action-confirmation#confirm" }, class: "pr-2 mr-2" do %>
        <%= fa_icon 'circle-xmark' %>
      <% end %>
    </div>
  </div>
<% end %>
