<%= form_with(model: on_chain_token) do |form| %>
  <% if on_chain_token.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(on_chain_token.errors.count, "error") %> prohibited this on_chain_token from being saved:</h2>

      <ul>
        <% on_chain_token.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :token_id, style: "display: block" %>
    <%= form.text_field :token_id %>
  </div>

  <div>
    <%= form.label :chain_id, style: "display: block" %>
    <%= form.text_field :chain_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
