<%= form_with(model: chain) do |form| %>
  <% if chain.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(chain.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% chain.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex justify-between">
    <div></div>
    <div class="outer-modal bg-dark-800 shadow-dark-1000">
      <div class="inner-modal border-dark-700 hover:border-dark-600 bg-dark-900">
        <%= form.text_field :name, placeholder: "Name", class: "field", required: true %>
      </div>

      <div class="mt-5 flex flex-col">
        <%= form.label :logo, class: "text-white mb-2" %>
        <%= form.file_field :logo, class: "text-white" %>
      </div>

      <div class="mt-5">
        <%= form.submit "Save", class: "modal-btn" %>
      </div>
    </div>
    <div></div>
  </div>
<% end %>
