<%= form.fields_for :tx_in, transaction.tx_in do |tx_in_form| %>
  <div class="inner-modal border-dark-700 hover:border-dark-600 bg-dark-900">
    <div class="flex space-x-10">
      <%= tx_in_form.collection_select :token_id, Token.all, :id, :abbr, { }, { class: "select bg-dark-800 hover:bg-dark-700" } %>
        <%= tx_in_form.collection_select :location, all_locations, :id_with_type, :name, { selected: transaction&.tx_in&.location&.id_with_type }, { class: "select bg-dark-800 hover:bg-dark-700" } %>
    </div>

    <div class="my-5">
      <%= tx_in_form.label :amount, class: "label" if transaction.purchase? && action_name == "edit" %>
      <%= tx_in_form.text_field :amount, placeholder: "Amount: 0.00", class: "field", required: true %>
    </div>

    <% unless controller_name == "transactions" %>
      <div class="mt-5">
        <%= tx_in_form.label :rate, class: "label" if transaction.purchase? && action_name == "edit" %>
        <%= tx_in_form.text_field :rate, placeholder: "Price: 0.00", class: "field", required: true %>
      </div>
    <% end %>
  </div>
<% end %>
