<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div>
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Transactions</h1>
      <div class="flex">
        <%= link_to "Add trade", new_transaction_path, class: "btn-primary mr-1", data: { turbo_frame: "modal" } %>
        <%= link_to "Add purchase", new_purchase_path, class: "btn-primary mr-1", data: { turbo_frame: "modal" } %>
        <%= link_to "Add sale", new_sale_path, class: "btn-primary", data: { turbo_frame: "modal" } %>
      </div>
    </div>

    <% if @transactions.any? %>
      <div class="grid mt-10 border border-black">
        <div class="grid grid-cols-8">
          <span class="grid-cell">Type</span>
          <span class="grid-cell">Balance</span>
          <span class="grid-cell">Token</span>
          <span class="grid-cell">Amount</span>
          <span class="grid-cell">Rate</span>
          <span class="grid-cell">Chain/Exchange</span>
          <span class="grid-cell">Date</span>
          <span class="grid-cell">Actions</span>
        </div>

        <%= turbo_frame_tag "transactions" do %>
          <% @transactions.each do |transaction| %>
            <%= render 'transactions/transaction', transaction: transaction %>
          <% end %>
        </div>
        <% end %>
      </div>
    <% else %>
      <h1 class="mt-10 font-bold text-2xl text-center">Add transactions to see them here!</h1>
    <% end %>
</div>
