<% if transaction.errors.any? %>
  <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
    <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

    <ul>
      <% transaction.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "transaction_data/tx_out_form", form: form, transaction: transaction %>

<div class="mt-5">
  <%= form.label :date, class: "block font-medium mb-1" %>
  <%= form.date_field :date, value: Date.today %>
</div>

<div class="mt-5">
  <%= form.submit "Save", class: "btn-primary" %>
  <%= link_to "Cancel", transactions_path, class: "btn-primary" %>
</div>
